![title](Chapter-1.png "Header")
___
# Chapter 1 - Simple Approaches to Recommender Systems
## Segment 2 - Popularity-Based Recommenders

In [1]:
import pandas as pd
import numpy as np

These datasets are hosted on: https://archive.ics.uci.edu/ml/datasets/Restaurant+%26+consumer+data

They were originally published by: Blanca Vargas-Govea, Juan Gabriel GonzÃ¡lez-Serna, Rafael Ponce-MedellÃ­n. Effects of relevant contextual features in the performance of a restaurant recommender system. In RecSysâ€™11: Workshop on Context Aware Recommender Systems (CARS-2011), Chicago, IL, USA, October 23, 2011.

In [3]:
frame = pd.read_csv('rating_final.csv')
cuisine = pd.read_csv('chefmozcuisine.csv')

In [7]:
frame.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [8]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

## Recommending based on counts

In [12]:
# count the ratings for each of these places -- a basic approach

pandaFrame = frame.groupby('placeID')['rating'].count()
rating_count = pd.DataFrame(pandaFrame)

# Now sort the ratings in descending order
rating_count.sort_values('rating', ascending=False)

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25
...         ...
132766        3
132717        3
135011        3
132668        3
135016        3

[130 rows x 1 columns]

In [13]:
# create a DataFrame with one column labeled 'placeID' and five rows with values 135085, 132825, 135032, 135052, and 132834, 
# and the rows are labeled with integers from 0 to 4.
most_rated_places = pd.DataFrame([135085, 132825, 135032, 135052, 132834], index = np.arange(5), columns = ['placeID'])

# merge this with the cuisine dataFrame
summary = pd.merge(most_rated_places, cuisine, on='placeID')
summary

   placeID         Rcuisine
0   135085        Fast_Food
1   132825          Mexican
2   135032        Cafeteria
3   135032     Contemporary
4   135052              Bar
5   135052  Bar_Pub_Brewery
6   132834          Mexican

In [14]:
# Let us find how many cuisines are available in this dataset in total
cuisine['Rcuisine'].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object

In [15]:
# Now if we look at both of these data frames, we see that mexican food is not only sold the most,
# but also it is among favorites, with two restaurants that sell Mexican food being in the top 5 favorites
# This might be adequate to suggest an average restaurant-goer a Mexican-based cafe/restaurant.